=begin
#Etsy Open API v3

#<div class=\"wt-text-body-01\"><p class=\"wt-pt-xs-2 wt-pb-xs-2\">Etsy's Open API provides a simple RESTful interface for various Etsy.com features. The API endpoints are meant to replace Etsy's Open API v2, which is scheduled to end service in 2022.</p><p class=\"wt-pb-xs-2\">All of the endpoints are callable and the majority of the API endpoints are now in a beta phase. This means we do not expect to make any breaking changes before our general release. A handful of endpoints are currently interface stubs (labeled “Feedback Only”) and returns a \"501 Not Implemented\" response code when called.</p><p class=\"wt-pb-xs-2\">If you'd like to report an issue or provide feedback on the API design, <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://github.com/etsy/open-api/issues/new/choose\">please add an issue in Github</a>.</p></div>&copy; 2021-2022 Etsy, Inc. All Rights Reserved. Use of this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank' href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.

The version of the OpenAPI document: 3.0.0
Contact: developers@etsy.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module EtsyApi
  class ShopListingOfferingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # <div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2\">General Release</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Report bug</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for production use.</p></div>  Get an Offering for a Listing
    # @param listing_id [Integer] 
    # @param product_id [Integer] 
    # @param product_offering_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [ListingInventoryProductOffering]
    def get_listing_offering(listing_id, product_id, product_offering_id, opts = {})
      data, _status_code, _headers = get_listing_offering_with_http_info(listing_id, product_id, product_offering_id, opts)
      data
    end

    # &lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;span class&#x3D;\&quot;wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2\&quot;&gt;General Release&lt;/span&gt;&lt;a class&#x3D;\&quot;wt-text-link\&quot; href&#x3D;\&quot;https://github.com/etsy/open-api/issues/new/choose\&quot; target&#x3D;\&quot;_blank\&quot; rel&#x3D;\&quot;noopener noreferrer\&quot;&gt;Report bug&lt;/a&gt;&lt;/div&gt;&lt;div class&#x3D;\&quot;wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\&quot;&gt;&lt;p class&#x3D;\&quot;wt-text-body-01 banner-text\&quot;&gt;This endpoint is ready for production use.&lt;/p&gt;&lt;/div&gt;  Get an Offering for a Listing
    # @param listing_id [Integer] 
    # @param product_id [Integer] 
    # @param product_offering_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListingInventoryProductOffering, Integer, Hash)>] ListingInventoryProductOffering data, response status code and response headers
    def get_listing_offering_with_http_info(listing_id, product_id, product_offering_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShopListingOfferingApi.get_listing_offering ...'
      end
      # verify the required parameter 'listing_id' is set
      if @api_client.config.client_side_validation && listing_id.nil?
        fail ArgumentError, "Missing the required parameter 'listing_id' when calling ShopListingOfferingApi.get_listing_offering"
      end
      if @api_client.config.client_side_validation && listing_id < 1
        fail ArgumentError, 'invalid value for "listing_id" when calling ShopListingOfferingApi.get_listing_offering, must be greater than or equal to 1.'
      end

      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ShopListingOfferingApi.get_listing_offering"
      end
      if @api_client.config.client_side_validation && product_id < 1
        fail ArgumentError, 'invalid value for "product_id" when calling ShopListingOfferingApi.get_listing_offering, must be greater than or equal to 1.'
      end

      # verify the required parameter 'product_offering_id' is set
      if @api_client.config.client_side_validation && product_offering_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_offering_id' when calling ShopListingOfferingApi.get_listing_offering"
      end
      if @api_client.config.client_side_validation && product_offering_id < 1
        fail ArgumentError, 'invalid value for "product_offering_id" when calling ShopListingOfferingApi.get_listing_offering, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v3/application/listings/{listing_id}/products/{product_id}/offerings/{product_offering_id}'.sub('{' + 'listing_id' + '}', CGI.escape(listing_id.to_s)).sub('{' + 'product_id' + '}', CGI.escape(product_id.to_s)).sub('{' + 'product_offering_id' + '}', CGI.escape(product_offering_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListingInventoryProductOffering'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"ShopListingOfferingApi.get_listing_offering",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShopListingOfferingApi#get_listing_offering\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
